@media screen and (max-width: 768px) {
    .menu_content {
        display: flex;
        position: fixed;
        background: white;
        justify-content: center;
        width: 100%;
    }

    .wolox_logo {
        width: 12em;
    }
}

@media screen and (min-width: 769px) {
    .menu_content {
        display: flex;
        width: 100%;
    }
    
    .wolox_logo {
        margin: 2em 5em 0 5em;
        width: 12em;
    }
}