@media screen and (max-width: 768px) {
    .change_language {
        display: flex;
        justify-content: flex-start;
        margin: 13px 16px 0 0;
    }
    .pointer {
        cursor: pointer;
        padding: 0 6px;
    }
}

@media screen and (min-width: 769px) {
    .change_language {
        display: flex;
        justify-content: flex-start;
        margin: 1.7em 0 0 0;
    }
    .pointer {
        cursor: pointer;
        padding: 10px 15px;
    }
}