$black: #000000;
$blue: #2CA7DF;
$green: #98CF00;
$white: #ffffff;

@font-face {
    font-family: 'Montserrat Regular';
    src: url(../../assets/fonts/Montserrat/Montserrat-Regular.ttf) format('opentype');
}

@font-face {
    font-family: 'Montserrat SemiBold';
    src: url(../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf) format('opentype');
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(../../assets/fonts/Montserrat/Montserrat-Bold.ttf) format('opentype');
}

.container {
    background-image: url(../../assets/backgrounds/Bg_Header@3x.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
}

.menu_options {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5em 0 0 0;
}

.wolox_logo {
    margin: 2em 5em 0 5em;
    width: 12em;
}

.home {
    color: $black;
    font-size: 1.3em;
    text-decoration: none;
}

.login_button {
    background: $white;
    border: 1px solid;
    border-color: $blue;
    border-radius: 12rem;
    box-sizing: border-box;
    color: $blue;
    cursor: pointer;
    font-family: 'Montserrat SemiBold', sans-serif;
    font-size: .9em;
    outline: none;
    padding: .6rem 0;
    text-align: center;
    text-decoration: none;
    width: 12em;
    &:active {
        position: relative;
        top: 1px;
    }
    &:hover {
        background: $blue;
        color: $white;
    }
}

.content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1.5em 0 2em 0;
}

.content_text {
    font-family: 'Montserrat Regular', sans-serif;
    font-size: 2.5em;
    .txt_bold {
        font-family: 'Montserrat SemiBold', sans-serif; 
    }
    .txt_green {
        font-family: 'Montserrat Bold', sans-serif;
        color: $green;
    }
}

.people_logo {
    margin: 2em 5em 0 1em;
    transform: rotateY(180deg);
    width: 26em;
}