@font-face {
    font-family: 'Montserrat Medium';
    src: url(./assets/fonts/Montserrat/Montserrat-Medium.ttf) format('opentype');
}

body {
    font-family: 'Montserrat Medium', sans-serif;
    margin: 0;
}